<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ninja Gold</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="warbber">
        <div class="yourgold">
            <h1>Your Gold: </h1>
            <div class="counter"></div>
        </div>
        <div class="main">
            <div class="finder">
                <h3>Farm</h3>
                <p>(earns 10-20 gold)</p>
                <a href=""><button>Find Gold!</button></a>
            </div>
            <div class="finder">
                <h3>Cave</h3>
                <p>(earns 10-20 gold)</p>
                <a href=""><button>Find Gold!</button></a>
            </div>
            <div class="finder">
                <h3>House</h3>
                <p>(earns 10-20 gold)</p>
                <a href=""><button>Find Gold!</button></a>
            </div>
            <div class="finder">
                <h3>Quest</h3>
                <p>(earns/takes 0-50 gold)</p>
                <a href=""><button class="long">Find Gold!</button></a>
            </div>
        </div>
        <div class="activites">
            <h2>Activites:</h2>
            <div class="activitesbox"></div>
        </div>
    </div>
</body>

</html>